*
{
    margin: 0;
    padding: 0; 
}

body
{
    font-family: roboto, sans-serif;
}

.hero-section,
.footer,
.header-container
{
    background-color: #1F2937;
}



/* header section */

.header-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 210px;
    padding-right: 210px;
}

.header-logo
{
    margin: 10px 0px;
    font-weight: 900;
    color: #F9FAF8;
    font-size: 24px;
}

.header-links
{
    color: #F9FAF8;
    display: flex;
    font-size: 16px;
}

li
{
    margin: 19px 15px;
    list-style-type: none;
}

/* header-container */




/* Hero Section */
.hero-section
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 210px;
    padding-right: 210px;
    padding-bottom: 140px;
}

.hero-container
{
    display: flex;
}

.hero-container2
{
    display: flex;
    flex-direction: column;
}

.heroh1
{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    max-width: 340px;
}

.herop1
{
    width: 447px;
}

.herop1,
.imageplaceholder
{
    color: #E5E7EB;
    font-size: 18px;
}

.imageplaceholder
{
    place-content: center center;
    margin: auto;
}

.image-container
{
    display: flex;
    background-color: rgb(115, 115, 122);
    width: 500px;
    height: 230px;
    margin-left: 50px;
}

.button-hero
{
    color: #F9FAF8;
    background-color: #3882F6;
    margin-top: 12px;
    padding: 8px 35px;
    border-style: none;
    border-radius: 7px;
    font-weight: 900;
    font-size: 17px;
}

/* Hero Section */




/* Main Section */
.main-h1
{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-container1
{
    display: flex;
    width: 0px;
    gap: 50px;
    margin: 0px 0px 0px 300px;
    font-weight: 300;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: rgb(85, 83, 83);
}

.main-container2
{
    border-color: #3882F6;
    border-width: 4px;
    border-radius: 16px;
    border-style: solid;
    width: 155px;
    height: 160px;
    text-align: center;
}

/* Main Section */






/* Main2 Quote */
.main2-quote
{
    display: flex;
    background-color: #E5E7EB;
    padding: 115px 0px;
}

.main2-container
{
    color: #1f2937;
    background-color: #E5E7EB;
    margin: auto;
}

.main2-p
{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    text-align: left;
    width: 780px;
}

.main2-p2
{
    font-size: 24px;
    font-weight: 600;
    text-align: right;
}

/* Main2 Quote */




/* Info Ad */
.infoad
{
    display: flex;
    padding: 100px 0;
    margin: auto;
    place-content: center center;
}

.infoad-container
{
    display: flex;
    padding: 50px 150px 52px 100px;
    border-radius: 8px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3882F6;
}

.infoad-container2
{
    color: #F9FAF8;
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    margin-right: 160px;
}

.infoad-p
{
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 300;
}

.infoad-button
{
    display: flex;
    place-content: center center;
    margin: auto;
}

.infoad-signup
{
        color: #F9FAF8;
        background-color: #3882F6;
        border-radius: 10px;
        border-style: solid;
        border-color: #F9FAF8;
        padding: 7px 31px;
        font-size: 17px;
        font-weight: 600;
        margin-left: 20px;
        margin-top: 10px;
}

/* Info Ad */


/* Footer Section */
.footer
{
    color: #F9FAF8;
    text-align: center;
    padding: 40px;
    font-size: 17px;
}